<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class=""nav-item><a href="{url 'index'}" class="navbar-brand">Django</a></li>
                <li class=""nav-item><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
                <li class=""nav-item><a href="{% url 'basic_app:register' %}" class="nav-link">Register</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                <li><a href="{% url 'basic_app:user_login' %}" class="nav-link">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>